* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #413F42 0%, #1a1a1a 100%);
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}


.battle_field {
    position: relative;
    border-bottom: 2px solid #00FF00;
    color: #00FF00;
    background-color: black;
    font-family: monospace;
    padding-bottom: 4px;
}

.invaders_container {
    position: absolute;
    /* border: 1px white solid; */
    left: calc((100% - 40vmin) / 2);
    top: 22vmin;
}

.invaders_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.hero_tag {
    position: absolute;
    /* border: 1px white solid; */
    left: calc((100% - 8vmin) / 2);
    background-image: url("../sprites/Invaders/hero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 2vmin;
}

.shields {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 12vmin;
}

.shield {
    width: 10%;
    height: 100%;
    /* border: 1px white solid; */
    background-image: url("../sprites/Invaders/shield.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#game_advancement {
    border: 1px white solid;
}


.type1 {
    /* border: 1px white solid; */
    background-image: url("../sprites/Invaders/type_4.png");
    background-size: 70% 70%;
    /* Stretch image to fill container */
    background-repeat: no-repeat;
    background-position: center;
}

.type2 {
    /* border: 1px white solid; */
    background-image: url("../sprites/Invaders/type-2.png");
    background-size: 70% 70%;
    /* Stretch image to fill container */
    background-repeat: no-repeat;
    background-position: center;
}

.shields {
  display: flex;
  justify-content: space-around;
  margin-top: 2vmin;
}

.shield {
  display: grid;
  grid-template-columns: repeat(12, 0.5vmin);
  grid-template-rows: repeat(44, 0.5vmin);
  gap: 0;
  background-color: transparent;
}

.shield-cell {
  width: 0.5vmin;
  height: 0.5vmin;
  background-color: transparent;
}

.shield-cell.active {
  background-color: green; /* You can change this to match your style */
}
